* {
    padding: 0;
    margin: 0;
}

.sliding-transition {
    transition: ease-in-out 0.5s;
}

.slider--container {
    width: auto;
    background-color: #DAEEFF;
    margin: 0 auto;
    padding: 60px;
    overflow: hidden;
}

.manrope {
    font-family: "Manrope", sans-serif;
}

.bigtext {
    line-height: 120%;
    font-size: 32px;
    margin: 0px auto 60px;
    text-align: center;
    max-width: 450px;
}

.slider {
    display: flex;
    align-items: center;
    gap: 30px;
}

.slider__item {
    min-width: 244px;
    height: 222px;
    display: block;
    border-radius: 18px;
    background-color: #FFFFFF;
    display: flex;
    overflow: hidden;
    transition: ease-in-out 0.4s;
}

.slider__item img {
    object-fit: cover;
}

/*  */

.buttons {
    margin: 40px auto;
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: unset;
    border: 1px solid #1B3649;
    color: #1B3649;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

button:hover {
    background-color: #1B3649;
    color: #FFFFFF;
}

.arrowimg {
    transition: ease-in-out 0.2s;
}

button:hover .arrowimg {
    stroke: #FFFFFF;
}

.prevbtn {
    rotate: 180deg;
}